@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

/* Richer Editor */
@import '../../../../vendor/awcodes/richer-editor/resources/css/index.css';
@source '../../../../vendor/awcodes/richer-editor/resources/views/**/*.blade.php';

/* Badgeable Column */
@source '../../../../vendor/awcodes/filament-badgeable-column/resources/**/*.blade.php';

/* Mason */
@import '../../../../vendor/awcodes/mason/resources/css/plugin.css';
@source '../../../../vendor/awcodes/mason/resources/**/*.blade.php';

/* Icon Picker */
@source '../../../../vendor/guava/filament-icon-picker/resources/**/*';

/* Center global search in topbar */
@media (min-width: 640px) {
    .fi-topbar {
        position: relative;
    }

    .fi-topbar .fi-global-search-ctn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 28rem;
    }
}
